.view-search-polizas {
    padding: 0px;
    top: 0px;
    left: 0px;
    width: 400px; /* 300 */
    display: flex;
    position: fixed; /*fixed*/
}
.column-select {
	display: flex;
	align-items: center;
	justify-content: center;
}
.first-column {
	margin-bottom: 10px;
	width: 50%;
	text-align: initial;
	padding-top: 10px;
	padding-left: 0px;
}
.second-column {
    margin-bottom: 10px;
    padding-top: 10px;
    width: 50%;
    border: 1px solid #d9d8d8;
    border-radius: 5px;
}
.two-column {
	margin-bottom: 10px;
	width: 50%;
	text-align: initial;
	padding-top: 10px;
	padding-left: 0px;
	padding-right: 0px;
}
.column-info-documents {
	margin-bottom: 50px;
}
.columns-table-recibo {
	margin-bottom: 10px;
    width: 50%;
    text-align: initial;
    padding-top: 10px;
    padding-left: 1px;
    padding-right: 1px;
}
.column-primas {
	text-align: end;
	padding: 2px;
}
.segment-p-search {
	background-color: #fff;
	margin-top: 5px;
	border-radius: 5px;
	height: 520px;
	display: flex;
	flex-direction: column;
}
.segment-p-centrodigital {
	background-color: #fff;
	padding: 20px;
	height: 100%;
}
.segment-result {
    padding-top: 15px;
    padding-bottom: 15px;
    overflow:auto;
}
.segment-header-result {
	padding-top:5px; 
	padding-bottom:5px;
	height: 34px; /* 40 */
	display:flex; 
	align-items:center;
}
.segment-header-detalles {
	padding-top: 10px; 
	padding-bottom: 10px; 
	height: 34px; 
	display: flex;
	align-items: center; 
	justify-content: flex-start;
}
.segment-header-recibos {
	display: flex;
	align-items: center;
}
.segment-body-detalles {
	height: 455px;
	overflow: auto;
}
.segment-column {
	text-align: end; 
	height: 400px;
}
.segment-body-no-table {
	background: #f9f9f9;
	overflow:auto;
	height:200px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 5px;
	padding-bottom: 5px;
}
.content-search {
	margin:0px; 
	margin-right:5px; 
	width:50%;
}
.content-result {
	padding-left: 0px;
	padding-right: 3px;
}
.content-detalles {
	padding-left: 0px; /* 3 */
	padding-right: 0px;
	height: 100%;
}
.content-centrodigital {
	padding: 0px;
	height: 94%;
	overflow: auto; 
	border: 1px solid #d9d8d8;
}
.content-status-recibo {
	text-align: center;
    width: 100%;
    border: 1px solid #d9d8d8;
    border-radius: 5px;
    margin-top: 10px;
}
.content-info-detalles {
	text-align: center;
	overflow: auto;
}
.content-column-two {
	padding-left: 0px;
	padding-right: 0px;
}
.container-table {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 1px solid #d9d8d8;
    border-radius: 5px;
}
.container-table-result {
	overflow: auto;
	padding: 0px;
	height: 450px;
	font-size: 14px;
}
.c-column-empresa {
	display: flex;
	justify-content: space-between;
}
.mg-row {
    margin-left: 1px;
    margin-right: 1px;
}
.dr {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.sub-dr {
    display: flex;
    justify-content: center;
    align-items: center;
}
.sub-date-bit {
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-search {
	border-radius:5px; 
	cursor:all-scroll; 
	padding:3px; 
	display:flex;    
	align-items:center; 
	justify-content:center;
}
.container-spinner-table-polizas {
    text-align: center;
    /* margin: 10px; */
    color: #266093;
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    left: 0px;
    position: sticky;
}
.container-spinner-content-solicitudes-polizas {
    text-align: center;
    /* margin: 10px; */
    color: #266093;
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.container-spinner-content-table-recibos {
    text-align: center;
    /* margin: 10px; */
    color: #266093;
    width: 870%; /* 995% - Varía segun el width*/
    height: 140px;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    left: 0px;
    position: sticky;
}
.container-spinner-content-table-bitacoras {
    text-align: center;
    /* margin: 10px; */
    color: #266093;
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    left: 0px;
    position: sticky;
}
.container-spinner-content-centrodigital {
    text-align: center;
    /* margin: 10px; */
    color: #266093;
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.content-solicitudes-y-polizas {
    width: 100%;
    height: 100%;
    position: absolute;
    margin-top: 10px;
}
.space-bottom {
    margin-bottom: 20px;
}
.space-bottom-r {
    margin-bottom: 5px;
    padding-left: 3px;
    padding-right: 3px;
}
.space-table {
	margin-bottom: 20px;
}
.text-bold {
    color: darkblue;
    font-weight: bold;
    font-size: 14px;
}
.title-result {
	margin-top: 0px;
	margin-bottom: 0px;
	color:white;
	font-size: 16px;
}
.title-sub-result {
	font-size: 15px;
	margin: 0px;
	padding-left: 5px;
}
.title-item-consult {
    color: #303030;
    font-size: 13px;
}
.title-item-recibo {
    color: #303030;
    font-size: 12px;
}
.title-sub-item-consult {
    color: #303030;
    width: 150px;
    text-align: end;
    padding-right: 10px;
    margin-bottom: 0px;
}
.title-segment-user {
    width: 100%;
    height: auto;
    background-color: #266093;
    color: white;
    opacity: .8;
    padding: 8px 15px;
    text-align: left;
}
.title-name-client {
	font-size: 14px;
	color: #303030;
	text-align: center;
}
.namefolder {
	color: #303030;
}
.btn-seg-search {
    padding: 0px;
    color: white;
    font-size: 35px;
    background: white;
    border-radius: 100px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0px 0px 10px 2px #6a6a6a;
}
.btn-General {
    border-radius: 5px;
    padding: 10px;
    color: white;
    margin-left: 10px;
}
.btn-Refresh {
    background: #266093; /* #2a5082 | #51698e -> rgba(081,105,142,1)*/
    border-color: #266093;
}
.btn-Refresh-r {
    margin: 0px;
    width: 30px;
    height: 30px;
    font-size: 20px;
    color: #8c7bb7;
    border-radius: 5px;
}
.btn-close {
    color: #cf2727;
}
.btn-buscar {
	font-size: 20px;
	border-radius: 0px;
}
.btn-limpiar {
	font-size: 20px;
}
.btn-despliegue {
	color: black;
	background: #e9ecef;
	border: 1px solid #ced4da;
	border-radius: 5px;
}
.btn-Refresh:hover {
    background-color: #337ab7;
    border-color: #337ab7;
    color: white;
}
.btn-resultados:hover {
    color: #d5c521;
    background: #9a9240;
}
.btn-Refresh-r:hover {
    color: white;
    background: #266093;
}
.btn-close:hover {
    color: #e94c4c;
    background: #cbcbcb;
}
.btn-buscar:hover {
    color: white;
    border-color: #266093;
    background: #266093;
}
.btn-limpiar:hover {
    color: white;
    border-color: #9a9240;
    background: #9a9240;
}
.btn-despliegue:hover {
	color: white;
	background: #9a9240;
	border-color: #9a9240;
}
.item-doc-cd:hover {
	color: white;
}
/*#ViewPanelResultadosBusqueda > .collapse ul li a:hover {
    background-color: white;
}*/
.select-buscar {
    float: left;
    height: 30px;
    cursor: pointer;
	width: 175px;
	font-size: 14px;
}
.img-profile {
    width: 100px;
    height: 100px;
    border: 2px solid #266093;
    border-radius: 5px;
    margin: 10px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon-profile {
    font-size: 90px;
    color: #303030;
}
.icon-folder-cd {
	margin-right: 5px;
	color: #ffd662;
}
.icon-file-cd {
	margin-right: 5px;
	color: #bfbfbf;
}
.input-group-text {
    display: flex;
    align-items: center;
    padding: .375rem .75rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    white-space: nowrap;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    /*border-radius: .375rem;*/
}
#busqueda .input-group>.form-control {
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    min-width: 0;
}
#busqueda .form-control .textSearch {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .375rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.input-group>:not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
    margin-left: -1px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.menu-icon-poliza {
    font-size: 15px;
    padding-left: 10px;
    padding-right: 10px;
}
.swal-modal {
    width: 28%;
}
.swal-button--confirm{
    background-color:#337ab7!important;
}
.swal-text{
    /*color:#472380 !important;*/
    font-size: 17px;
    text-align: center;
}
.seleccionResult {
    background: beige;
}
.opaco {
    opacity: .5;
}
.btc-client {
    border-bottom: 1px solid darkgray;
    padding: 15px;
}
.btc-client-sinR {
    padding: 15px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #2a2a2a;
}
.align-money {
    text-align: end;
}
.align-table-left {
    text-align: left;
}
.table-body-result {
	width: 100%;
}
.title-table {
	font-size: 13px;
}
.title-sub-table {
	font-size: 13px;
}
.subtitle-table-body {
	font-size: 13px;
}
.tab-panel2 {
	padding: 0px; 
	
}

/* no-info son los que no reciben ninguna información */


  .bg-permisos-content {
    overflow: auto;
    height: auto;
    margin-top: 10px;
    padding-bottom: 10px;
  }
  .bg-table {
    background: white;
    margin-bottom: 10px;
  }
  .bg-table-permisos {
    padding-left: 10px;
    padding-right: 10px;
    background: white;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    margin-bottom: 0px;
    overflow: overlay;
  }
  .bg-tab-content {
    padding-left: 10px;
    padding-right: 10px;
    background: white;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    margin-bottom: 0px;
    height: 530px;
    box-shadow: 0px 2px 5px 1px #8370a1;
  }
  .bg-tab-content-recibo {
    padding-left: 10px;
    padding-right: 10px;
    background: white;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    margin-bottom: 0px;
    height: 450px;
    overflow: auto;
    box-shadow: 0px 2px 5px 1px #8370a1;
  }

@media (max-width: 991px) {
	.content-search {
		width: 70%;
	}
	.column-info-documents {
		display: flex;
	}
	.input-width {
		padding: 4px;
	}
	.segment-column {
		height: 460px;
	}
	.container-info-bit {
		padding-left: 0px;
		padding-right: 0px;
	}
	.btc-client {
		display: flex;
	}
	
}

@media (max-width: 985px) {
	.input-width {
		max-width: 100%;
	}
	.segment-column {
		height: 460px;
	}
	.img-profile {
		width: 80px;
		height: 80px;
	}
	.icon-profile {
		font-size: 80px;
	}
	.sub-date-bit {
		flex: 0 0 20%;
	}

}

@media (max-width: 920px) {
	.column-info-documents {
		flex-direction: column;
		align-items: center;
	}
	.content-result {
		max-width: 90%;
		padding-right: 0px;
	}
	.content-detalles {
		max-width: 90%;
	}
	.segment-p-search {
		height: 450px;
	}
	.container-table-result {
		height: 380px;
	}
}

@media (max-width: 767px) {
	.container-table-result {
		font-size: 15px;
	}
	.select-buscar {
		font-size: 15px;
	}
	.textSearch {
		font-size: 15px;
	}
	.segment-p-search {
		height: auto;
	}
	.container-table-result {
		height: auto;
	}
	.segment-header-detalles {
		height: 40px;
	}
	.text-bold {
		font-size: 15px;
	}
	.title-result {
		font-size: 16px;
	}
	.title-sub-result {
		font-size: 15px;
	}
	.title-item-consult {
		font-size: 15px;
	}
	.title-sub-item-consult {
		font-size: 15px;
	}
	.title-table {
		font-size: 15px;
	}
	.title-sub-table {
		font-size: 15px;
	}
	.subtitle-table-body {
		font-size: 15px;
	}
	.btn-Refresh {
		font-size: 15px;
	}
	.title-tag-user {
		font-size: 14px;
	}
	.icon-responsive {
		width: 200px;
	}
	.proc-responsive {
		width: 280px;
	}
	.fila-input-series {
		display: flex;

	}
	.fila-input-three {
		/*display: flex;*/
	}
	.seccion-prima-columns {
		display: flex;
		justify-content: center;
	}
	.two-column {
		margin-bottom: 0px;
	}
}

@media (max-width: 720px) {
	.content-search {
		width: 100%;
	}
	.container-table-result {
		font-size: 17px;
	}
	.select-buscar {
		font-size: 17px;
		height: 34px;
	}
	.textSearch {
		font-size: 17px;
	}
	.btn-buscar {
		font-size: 20px;
	}
	.btn-limpiar {
		font-size: 20px;
	}
	.input-width {
		padding: 3px;
	}
	.text-bold {
		font-size: 17px;
	}
	.title-result {
		font-size: 18px;
	}
	.title-sub-result {
		font-size: 17px;
	}
	.title-item-consult {
		font-size: 17px;
	}
	.title-sub-item-consult {
		font-size: 17px;
	}
	.title-table {
		font-size: 17px;
	}
	.title-sub-table {
		font-size: 17px;
	}
	.subtitle-table-body {
		font-size: 17px;
	}
	.btn-Refresh {
		font-size: 17px;
	}
	.title-tag-user {
		font-size: 16px;
	}
	.img-profile {
		width: 100px;
		height: 100px;
	}
	.icon-profile {
		font-size: 100px;
	}
	.icon-responsive {
		padding: 0px;
	}
	.segment-column {
		height: 450px;
	}
}

@media (max-width: 668px) {
	.segment-column {
		height: 480px;
	}
}

@media (max-width: 640px) {
	.column-info-documents {
		display: flex;
    	flex-direction: column;
    	align-items: center;
	}
	.content-result {
		max-width: 95%;
	}
	.content-detalles {
		max-width: 95%;
	}
	.select-buscar {
		font-size: 19px;
		height: 36px;
	}
	.textSearch {
		font-size: 19px;
	}
	.btn-buscar {
		font-size: 26px;
		border-radius: 5px;
    	padding-left: 11px;
    	padding-right: 10px;
	}
	.btn-limpiar {
		display: none;
	}
	.btn-Refresh-r {
		display: none;
	}
	.title-result {
		font-size: 19px;
	}
	.container-table {
		padding-top: 5px;
		padding-bottom: 0px;
	}
	.container-table-result {
		font-size: 18px;
	}
	.title-item-consult {
		font-size: 18px;
	}
	.text-bold {
		font-size: 18px;
	}
	.space-bottom {
		margin-bottom: 0px;
	}
	.space-table {
		margin-bottom: 10px;
	}
	.fila-input {
		display: grid;
	}
	.fila-input-series {
		display: grid;
	}
	.input-width {
		/*max-width: 100%;*/
		margin-bottom: 10px;
		padding-left: 15px;
		padding-right: 15px;
	}
	.first-column {
		width: 100%;
		padding-top: 0px;
		padding-right: 0px;
	}
	.second-column {
		width: 100%;
	}
	.seccion-prima-columns {
		flex-direction: column;
	}
	.two-column {
		width: 100%;
	}
	.segment-column {
		height: auto;
	}
	.title-sub-item-consult {
		font-size: 18px;
	}
	.title-table {
		font-size: 18px;
	}
	.title-sub-table {
		font-size: 18px;
	}
	.subtitle-table-body {
		font-size: 18px;
	}
	.btn-Refresh {
		display: none;
	}
	.sub-date-bit {
		flex-direction: column;
		padding-left: 0px;
		padding-right: 0px;
	}
	.icon-responsive {
		margin-top: 10px;
	}
	.img-profile {
		width: 70px;
		height: 70px;
	}
	.icon-profile {
		font-size: 70px;
	}
	.btc-client {
		align-items: flex-start;
		padding: 0px;
	}
	.container-info-bit {
		padding: 0px;
	}
	.container-spinner-table-polizas {
		height: 100px;
	}
	.container-spinner-content-solicitudes-polizas {
		height: 90%;
	}
	.container-spinner-content-table-recibos {
		width: 520%;
	}
	.bd-spinner {
		width: 3rem;
		height: 3rem;
	}
	.bd-cargando {
		display: none;
	}
	.cr-spinner {
		width: 3rem;
		height: 3rem;
		font-size: 16px;
	}
	.cr-cargando {
		display: none;
	}
	.tr-spinner {
		width: 3rem;
		height: 3rem;
	}
	.pb-spinner {
		width: 3rem;
		height: 3rem;
	}
	.opaco {
		opacity: .1;
	}
	/* Campos no utilizables */
	.no-info {
		display: none;
	}
}

@media (max-width: 560px) {
	.select-buscar {
		width: 140px;
	}
	.content-result {
		margin-bottom: 10px;
	}
	.btc-client {
		flex-direction: column;
	}
	.icon-responsive {
		width: 100%;
	}
}